
body{
    background-image:url("img/bg-img/bg-2.jpg");
}

/*navbar*/

nav{
    width:100%;
    background:#123;
    padding: 0 50px;
    box-sizing:border-box;
    display:block;
}
nav h1{
    margin:0;
    padding:15px 20px;
    float:left;
    font-family:'algerian';
}
nav h1 a{
    color:#fff;
    text-decoration: none;
}
nav h1 a:hover{
    color:mediumvioletred;
    text-decoration: none;
}
nav ul{
    margin:0;
    padding:0;
    float:right;
}
nav ul li{
    list-style:none;
    display:inline-block;
    padding:20px 30px;
    /* transition:.5s; */
}
nav ul li a{
    color:white;
    text-decoration:none;
}
nav ul li:hover{
    background: #cc1573;
    cursor: pointer;
}
.responsive-bar{
    width:100%;
    background:#123;
    padding:10px 30px;
    box-sizing: border-box;
    display:none;
}
.responsive-bar h3{
    margin:0;
    padding:3px 0;
    color:#fff;
    float:left;
}
.responsive-bar h3 a{
   color:#fff;
   text-decoration: none;
   font-family:'algerian';
}
.responsive-bar h4{
    margin:0;
    padding:5px 10px;;
    color:#fff;
    float:right;
    background:#cc1573;
    text-transform: uppercase;
    cursor:pointer;
    font-family:'algerian';
}
@media (max-width:900px){
    nav{
        display:none;
    }
    .responsive-bar{
        display:block;
    }
    nav h1{
        display:none;
        float:none;
    }
    nav ul{
        float:none;
    }
    nav ul li{
        display:block;
        text-align:center;
        background:#123;
        padding:15px 20px;
        border-bottom:1px solid rgba(255,255,255,.1);
    }
    
}
    .musica-btn 
    {
        background: #cc1573;
        background: -webkit-linear-gradient(to right, #cc1573, #5722a9);
        background: linear-gradient(to right, #cc1573, #5722a9);
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        position: relative;
        z-index: 1;
        display: inline-block;
        min-width: 133px;
        height: 42px;
        color: #ffffff;
        border: none;
        border-radius: 0;
        padding: 0 20px;
        font-size: 12px;
        line-height: 42px;
        font-weight: 700;
        text-transform: uppercase; 
    }
        .musica-btn:hover, .musica-btn:focus 
        {
          font-size: 12px;
          font-weight: 700;
          box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
          color: #ffffff; 
        }
        
        /*login*/
        
        .login{
            border:1px solid #cc1573;
            height:auto;
            background:transparent;
            border-radius:10px;
            padding:10px;
            overflow: hidden;
        }
        #log-user{
            width:100%;
            height:50px;
            margin-bottom:15px;
            padding:10px;
            border:2px solid #cc1573;
            border-radius:15px;
            outline:none;
            background:transparent;
            color:white;
            overflow: hidden;
        }
.login h2{
    color:white;
    font-size:50px;
    font-family:'algerian';
}
#log-user:hover{
    background:white;;
    border-radius:0;
    transition:.8s;
    color:#000;
}
/*signup*/
.sign{
    height:auto;
    width:100%;
    background:transparent;
    /* margin:3px; */
    padding:10px;
    border:1px solid #cc1573;
    border-radius:8px;
}
.sign h2{
    color:white;
    font-size:50px;
}  
/*audio player*/
.audio-player{
    width:100%;
    height:600px;
    margin:2px;
    padding:5px;
}
audio{
    width:100%;
}
.cover-img{
    height:400px;
}
.songlist{
    max-height:435px;
    overflow-y:scroll;
}
.playlist h1,.player h1{
    color:#fff;
    font-family:'Times New Roman', Times, serif;
}
/*contact*/
.breadcumb{
    height:300px;
    width:100%;
}
.contact-head{
    width:400px;
    height:80px;
    font-size:40px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top:37%;
    left:38%;
    padding:20px;
    text-align:center;
}


.contact-form{
    width:100%;
    height:400px;
    padding:10px;
    color:#fff;
}
.con-in{
    width:100%;
    height:50px;
    margin:5px;
    font-size:20px;
    border:none;
    border-bottom:1px solid rgb(161, 44, 44);
    background:none;
    outline:none;
}
.con-mes{
    width:100%;
    height:120px;
    margin:5px;
    font-size:20px;
    border:none;
    background:none;
    outline:none;
    border-bottom:1px solid rgb(161, 44, 44);
}